read_img.py
test_ffmpeg.py
delete_null_img.py
extract_frame.py

build/
smart.egg-info/
Video/__pycache__/
Processor/__pycache__/

img/*
image_input/*
dataset/*
shadow_full_output/*
shadow_test/*

*.ipynb

# PyCharm #
.idea/