read_img.py
test_ffmpeg.py

build/
smart.egg-info/
Video/__pycache__/
Processor/__pycache__/
dataset/*
datasetVideosCourtes/*
img/*
image_input/*

checkpoints/*

shadow_full_output/backhand/*
shadow_full_output/backhand_slice/*
shadow_full_output/backhand_volley/*
shadow_full_output/backhand2hands/*
shadow_full_output/flat_service/*
shadow_full_output/forehand_flat/*
shadow_full_output/forehand_openstands/*
shadow_full_output/forehand_slice/*
shadow_full_output/forehand_volley/*
shadow_full_output/kick_service/*
shadow_full_output/slice_service/*
shadow_full_output/smash/*

shadow_test/*

test_rm_bg.ipynb

Weights*.hdf5

# PyCharm #
.idea/